<div class="footer row--footer">
  <div class="container columns">
    <ul class="list--linked">
      <li>
        <a href="{{ site.baseurl }}/">Home</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/README/">Project readme</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/CONTRIBUTING/">Contributing guide</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/GOVERNANCE/">Governance</a>
      </li>
      <li>
        <a href="https://github.com/overheidnl/overheidnl.github.io">GitHub repository</a>
      </li>
    </ul>
  </div>
</div>
